{% extends "layout.html.twig" %}

{% block title %}Bienvenue sur WinGear{% endblock %}


{% block content %}
    <div id="content"><div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" id="imgHome" src="/img/lobby.jpg" alt="Image d'accueil"/>
        </div>
        <div class="col-md-7">
            <div class="page-header">
                <h1>Bienvenue sur WinGear  <br><small>Retrouvez tous nos articles d'équipements sportifs</small></h1>
            </div>
        </div>
    </div>
    
{% endblock %}
