{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
{% for article in articles %}
<article >
    
    <div display:inline>                    
            <div class="row" >
                                <div class="col-sm-6 col-md-4" >
                                    <div class="thumbnail">
                                        <img src="../img/{{ article.image }}" alt="...">
                                        <div class="caption">
                                            <h3>{{ article.title }}</h3>
                                            <p>{{ article.price }} €</p>
                                            <p><a href="/article/{{ article.id }}" class="btn btn-primary" role="button">Voir</a></p>
                                        </div>
                                    </div>
                                        
                                </div>          
                            </div> 
    </div>
                                        
                       
</article>
{% endfor %}
{% endblock %}