
{% extends "layout.html.twig" %}

{% block title %}Votre Panier {% endblock %}

{% block content %}

<table class="table table-hover table-condensed">
    
    
    <div class="row">
    <div class="col-xs-6 col-md-3">
    <h1> Votre Panier </h1> 
        
                <thead>
                    
                <tr>
                    
                    <th>Nom de l'article</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    
                </tr>
                </thead>
                
                
                {% for panier in paniers %}
                    
                    {% for article in articles %}
                    {% if article.id == panier.id_product %}
                    <tr>
                    
                        <td>{{ article.title }}   </td>
                        <td>{{ article.price }}  €</td>
                        <td>{{ panier.Quantite }}</td>
                    
                    </tr>
                    
                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
            
</div>
           
</div>


{% endblock %}

